/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@angular/cdk/overlay-prebuilt.css';

* {
  font-family: Rubik, 'arial', sans-serif;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  height: 100%;
}

body {
  position:relative;
  width: 100%;
  margin: 0;
  background-color: #F4F6FC;
}

app-sidenav-button {
  position: absolute;
  top: -80px;
  left: 0px;
  z-index: 6;
  display: none;
  height: 80px;
}

@media only screen and (max-width: 1578px) {
  app-sidenav-button {
    display: inline-block;
  }
}

/*.mat-sidenav-container {*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*position: absolute !important;*/
/*}*/

/*.mat-drawer-content {*/
  /*overflow: visible !important;*/
/*}*/

.mat-menu-content {
  background-color: white;
  margin-top: 8px;
  border-radius: 8px !important;
}

.mat-menu-item {
  background-color: transparent;
  height: 36px !important;
}

.mat-menu-item mat-icon {
  /*top: 50% !important;*/
  transform: translate(0, -5px) !important;
}

.mat-menu-item span {
  transform: translate(0, -2px) !important;
  display: inline-block;
}

.mat-menu-item .selected {
  color: #2E5BFF;
}


button.mat-menu-item:hover {
  background-color: #d4e3fa;
  color: blue !important;
}

.list {
  height: 100%;
}
