


.switch-big {
  display: inline-block;
  width: 76px;
  height: 44px;
  position: absolute;
}

.switch-mid {
  display: inline-block;
  width: 76px;
  height: 33px;
  position: absolute;
}

.switch-small {
  display: inline-block;
  width: 38px;
  height: 22px;
  position: absolute;
}

/* Hide default HTML checkbox */
.switch-big input, .switch-mid input, .switch-small input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-big > .slider:before {
  height: 37px;
  width: 37px;
}

.switch-mid > .slider:before {
  height: 25px;
  width: 25px;
}

.switch-small > .slider:before {
  height: 14px;
  width: 14px;
}

input:checked + .slider {
  background-color: #2972E6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2972E6;
}

.switch-big > input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

.switch-mid > input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

.switch-small > input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
