.device-card-base {
  position: relative;
  margin: 8px 0 8px 0;

  background-color: #FFFFFF;
  border-radius: 4px;
  /*width: 280px;*/
}

.border {
  border: 1px solid rgba(46, 91, 255, 0.08);
  -webkit-box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.2);
  -moz-box-shadow:    1px 3px 5px 1px rgba(0,0,0,0.2);
  box-shadow:         1px 3px 5px 1px rgba(0,0,0,0.2);;
}

.device-card-base.large {
  height: 75px;
}

.device-card-base.small{
  height: 48px;
}

.deviceCard.device-card-base.selected {
  border: 2px solid #2972E6;
  -webkit-box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.2);
  box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.2);
}

.deviceCard.device-card-base:hover {
  border: 1px solid #73aefb;
  -webkit-box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.2);
  box-shadow: 1px 5px 8px 1px rgba(0,0,0,0.2);
}

.device-card-base > .switch-small {
  position: absolute;
  display: inline-block;
  right: 12px;
  top: 50%;
  transform: translate(0%, -50%);
}

.device-card-oval {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  left: 12px;

  background-color: #2972E6;
  border-radius: 100%;
  width: 34px;
  height: 34px;
}

.device-card-indicator.invisible {
  display: none;
}

.device-card-indicator  {
  position: absolute;
  top: -3px;
  right: -3px;

  background-color: #D63649;
  border: 2px solid #FFFFFF;
  border-radius: 100%;
  width: 9px;
  height: 9px;
}

.mat-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.device-card-name {
  position: absolute;
  left: 60px;

  margin: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 55%;

  color: #2E384D;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}

.device-card-base.large > .device-card-name {
  top: 24px;
}

.device-card-base.small > .device-card-name {
  top: 50%;
  transform: translate(0, -50%);
}

.device-card-consumption {
  position: absolute;
  top: 39px;
  left: 60px;

  margin: 0;

  color: #8798AD;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}
