<div id="dashboard-wrapper">
  <div id="device-view" class="dashboard-row">
    <div class="dashboard-row-title-wrap">
      <p>Devices</p>
      <mat-icon>settings</mat-icon>
    </div>
    <div class="dashboard-row-content"
         fxLayout="row wrap"
         fxLayoutAlign="start"
         fxLayoutGap="16px">
      <div class="dashboard-card big"
           fxFlex="1 0 280px">
        <span class="title">LATEST ISSUE</span>
        <mat-icon>more_vert</mat-icon>
        <div class="dashboard-card-content">
          <div *ngFor="let issue of issueList.slice(0, 4)">
            <app-issue-card
              [device]="issueDeviceMap.get(issue)"
              [issue]="issue"></app-issue-card>
          </div>
        </div>
      </div>
      <div class="dashboard-card big"
           fxFlex="1 0 280px">
        <span class="title">DEVICES LATELY CHANGED</span>
        <mat-icon>more_vert</mat-icon>
        <div class="dashboard-card-content">
          <div *ngFor="let device of devices.slice(0, 4)">
            <app-device-card
              routerLink="/devices/{{device.identifier}}"
              [device]="device"
              [deviceCardStyle]="'Large'"
              [selectedDevice]="null"
              [location]="'dashboard'"
              (uploaded)="changeDevicePowerState($event.device, $event.state)"></app-device-card>
          </div>
        </div>
      </div>
      <div class="dashboard-card small"
           fxFlex="1 0 140px">
        <div class="dashboard-card-icon good">
          <mat-icon>
            done
          </mat-icon>
        </div>
        <p class="dashboard-card-value">{{classReference.onDevices + classReference.idleDevices}}</p>
        <p class="dashboard-card-description">Devices working</p>
      </div>
      <div class="dashboard-card small"
           fxFlex="1 0 140px">
        <div class="dashboard-card-icon bad">
          <mat-icon>
            priority_high
          </mat-icon>
        </div>
        <p class="dashboard-card-value">{{classReference.brokenDevices}}</p>
        <p class="dashboard-card-description">Current issues</p>
      </div>
      <div class="dashboard-card big"
           fxFlex="1 0 280px">
        <span class="title">DEVICES STATUS</span>
        <mat-icon>more_vert</mat-icon>
        <div class="dashboard-card-content">
          <div style="display: block; max-width: 280px;">
            <p id="doughnutValue">
              {{classReference.clickedDoughnutPiece.value}}
              <span id="doughnutUnit">%</span>
              <br>
              <span id="doughnutDesc">{{classReference.clickedDoughnutPiece.name}}</span></p>
            <canvas baseChart
                    height="80"
                    width="80"
                    [data]="doughnutChartData"
                    [colors]="doughnutChartColor"
                    [labels]="doughnutChartLabels"
                    [options]="doughnutChartOptions"
                    [chartType]="doughnutChartType">
            </canvas>
          </div>
          <div id="doughnutChartLabel">
            <div>
              <div id="blue" class="circle"></div>
              <div>Running</div>
            </div>
            <div>
              <div id="yellow" class="circle"></div>
              <div>Idle</div>
            </div>
            <div>
              <div id="red" class="circle"></div>
              <div>Defect</div>
            </div>
          </div>
        </div>
      </div>
      <div class="dashboard-card big"
           fxFlex="1 0 280px">
        <span class="title">DEVICES MOST USE THIS WEEK</span>
        <mat-icon>more_vert</mat-icon>
        <div class="dashboard-card-content">
          <app-device-usage-card>

          </app-device-usage-card>
        </div>
      </div>
      <div class="dashboard-card big"
           fxFlex="1 0 280px">
          <span class="title">DEVICES MOST DOWN THIS WEEK</span>
          <mat-icon>more_vert</mat-icon>
          <div class="dashboard-card-content">

          </div>
        </div>
    </div>
  </div>

  <div id="processflow-view" class="dashboard-row">
    <div class="dashboard-row-title-wrap">
      <p>Process Flow</p>
      <mat-icon>settings</mat-icon>
    </div>

    <div class="dashboard-row-content">
      <div class="dashboard-card big"
           routerLink="/products-behind-plan">
        <span class="title">PRODUCTS BEHIND PLAN</span>
        <mat-icon>more_vert</mat-icon>
        <div class="dashboard-card-content">
          <div *ngFor="let product of products.slice(0, 5)">
            <app-processflow-card
              [process]="product">
            </app-processflow-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
