<nav>
  <a routerLink="/dashboard" id="dashboard-link">
    <img src="../assets/Images/CHARIOT_Logo.png" alt="logo" id="logo_img"/>
    <span id="project_name">MM APP</span>
  </a>
  <div id="nav-button">
    <button mat-icon-button
            [matMenuTriggerFor]="navMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #navMenu="matMenu">
      <button mat-menu-item
              *ngFor="let site of sites"
              (click)="path = site.route"
              routerLink="{{site.route}}">
          <span [ngClass]="path == site.route ? 'selected' : ''">
              <mat-icon>{{site.icon}}</mat-icon>
              <span>{{site.name}}</span>
          </span>
      </button>
    </mat-menu>
  </div>

  <div id="nav-wrap">
    <a *ngFor="let site of sites.reverse()"
       [ngClass]="path == site.route ? 'selected' : ''"
       (click)="path = site.route"
       routerLink="{{site.route}}">
      <mat-icon>{{site.icon}}</mat-icon>
      <span>{{site.name}}</span>
    </a>
  </div>
</nav>

<div style="margin-top: 80px">
  <router-outlet></router-outlet>
</div>
