<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"> 
    
    <div id="deviceCard" class="device-card-base">
        <div class="device-card-oval">
            <div class="device-card-indicator"></div>
            <i class="material-icons device-card-icon">devices</i>
        </div>
        <p class="device-card-name">Device name</p>
        <p class="device-card-consumption">3.4 kW</p>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>

    <div id="deviceCard" class="device-card-base">
        <div class="device-card-oval">
            <div class="device-card-indicator invisible"></div>
            <i class="material-icons device-card-icon">devices</i>
        </div>
        <p class="device-card-name">Device name</p>
        <p class="device-card-consumption">3.4 kW</p>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>    

</div>
