<div id="process-main">

  <p id="head">
    <span id="title">
      Product {{process.identifier}}
    </span>
    <span id="status" [ngStyle]="{'background-color': getProductStatusColor(process.status)}">
      {{process.status}}
    </span>
  </p>

  <div id="process-info" class="process-panel-card"
       fxLayout="column wrap"
       fxLayout.xs="column"
       fxLayoutAlign="flex-start flex-start"
       fxLayoutGap="20px">
    <div id="process-image" class="process-info-card" fxFlex="0 0 calc(180 - 20px)">
      <img src="{{process.image}}"
           alt="Product Image">
    </div>
    <div class="process-info-card" fxFlex="0 0 calc(180 - 20px)">
      <div class="card-name">{{process.productName | uppercase}}</div>
      <div class="card-content">{{process.productAddInfo}}</div>
    </div>
    <div class="process-info-card" fxFlex="0 0 calc(180 - 20px)">
      <div class="card-name">{{'weight' | uppercase}}</div>
      <div class="card-content">{{process.weight}}</div>
    </div>
    <div class="process-info-card" fxFlex="0 0 calc(180 - 20px)" *ngFor="let processInfoCar of process.productInfo">
      <div class="card-name">{{processInfoCar.name | uppercase}}</div>
      <div class="card-content">{{processInfoCar.value}}</div>
    </div>
  </div>

  <div id="process-band"
       fxLayout="row"
       fxLayout.sm="row wrap"
       fxLayout.xs="row wrap"
       fxLayoutAlign="center"
       fxLayoutGap="20px">
    <div class="process-flow-arrow"
         *ngFor="let prodProcess of process.productionFlow"
         [ngClass]="currentProcess == prodProcess ? 'selected' : ''"
         fxFlex="1 1 {{100/process.productionFlow.length}}%"
         fxFlex.sm="1 1 {{100/(process.productionFlow.length/2)}}%"
         fxFlex.xs="1 1 {{100/(process.productionFlow.length/3)}}%">
      <div id="process-band-info">
        <div class="icon">
          <div class="checkMark" *ngIf="prodProcess.progress == 100">
            <mat-icon>done</mat-icon>
          </div>
          <mat-icon *ngIf="prodProcess.progress != 100 && !prodProcess.icon.includes('/')">{{prodProcess.icon}}</mat-icon>
          <div style="height: 24px" *ngIf="prodProcess.progress != 100 && prodProcess.icon.includes('/')"
              [inlineSVG]="prodProcess.icon"></div>
        </div>
        <p class="prodprocess-name">{{prodProcess.name}}</p>
        <p class="prodprocess-progress" *ngIf="prodProcess.progress > 0">{{prodProcess.progress}} %</p>
      </div>
    </div>
  </div>

  <div id="progress-cards"
       *ngIf="currentProcess"
       gdAlignColumns="start start"
       gdAreas="a0 a0 a0 a0 | a1 a2 a3 a4 | a5 a6 a7 a4"
       gdColumns="calc(30% - 12px) calc(20% - 12px) calc(20% - 12px) calc(30% - 12px)"
       gdAreas.md="a0 a0 | a1 a4 | a1 a4"
       gdColumns.md="calc(50% - 12px) calc(50% - 12px)"
       gdAreas.sm="a0 a0 | a1 a4 | a1 a4"
       gdColumns.sm="calc(50% - 12px) calc(50% - 12px)"
       gdAreas.xs="a0 | a1"
       gdColumns.xs="calc(100%)"
       gdAuto="row"
       gdGap="16px">

    <div gdArea="a0"
         fxFlexOrder="1">
      <div id="progress-bar-wrapper"
           *ngIf="currentProcess"

           fxLayout.lg="row"
           fxLayout.md="row"
           fxLayout.sm="column"
           fxLayout.xs="column"

           fxLayoutAlign="space-between"
           fxLayoutGap.lg="50px"
           fxLayoutGap.md="50px"
           fxLayoutGap.sm="20px"
           fxLayoutGap.xs="20px">


        <p id="current-process" fxFlex="0 1 auto">{{currentProcess.name}}</p>
        <progress-bar
          id="progress-bar"
          fxFlex="1 1 auto"
          [progress]="currentProcess.progress"
          [color]="'#2b72e6'">
        </progress-bar>
        <button (click)="stopProcess(currentProcess)"
                fxFlex="0 1 auto"
                id="progress-toggle-button">

          <mat-icon *ngIf="!currentProcess.paused">play_arrow</mat-icon>
          <mat-icon *ngIf="currentProcess.paused">pause</mat-icon>
          <span>{{currentProcess.paused ? 'Pause' : 'Start'}} {{currentProcess.name}}</span>
        </button>
      </div>
    </div>

    <div gdArea="a1">
      <div id="time-info"
           class="progress-cards">
        <div id="remaining">
          <p>REMAINING</p>
          <p class="value">{{currentProcess.total.getDate() - currentProcess.running.getDate() | date:'H:mm' }}</p>
        </div>
        <div id="running">
          <p>RUNNING</p>
          <p class="value">{{currentProcess.running | date:'H:mm' }}</p>
        </div>
        <div id="total">
          <p>TOTAL</p>
          <p class="value">{{currentProcess.total | date:'H:mm' }}</p>
        </div>
      </div>
    </div>

    <div *ngFor="let processInfo of this.displayProcessInfo; let i = index">
      <div class="progress-cards">
        <div class="progress-card-icon"
              [ngClass]="processInfo.errorThreshold != -1 && processInfo.value <= processInfo.errorThreshold ? 'warning' : '' ">
          <mat-icon *ngIf="processInfo.errorThreshold == -1 || processInfo.value > processInfo.errorThreshold">
            done
          </mat-icon>
          <mat-icon *ngIf="processInfo.errorThreshold != -1 && processInfo.value <= processInfo.errorThreshold">
            {{processInfo.icon}}
          </mat-icon>
        </div>
        <p class="progress-card-value">
          {{changeStyleOfFont()}}{{processInfo.value}} {{processInfo.unit}}
        </p>
        <p class="progress-card-name">
          {{processInfo.key}}
        </p>
      </div>
    </div>

    <div gdArea="a4"
         *ngIf="currentProcess && currentProcess.name && currentProcess.name.includes('Printing')">
      <div id="printProcessFilament"
           class="progress-cards">
        <p id="cardNameFilamentLevel">FILLAMENT LEVEL</p>
        <p id="filamentLevelValue" *ngIf="isFilament">{{filamentLevel}}<span id="filamentUnit">%</span><br><span id="filamentDesc">REMAIN</span></p>
        <p id="noInformationFound" *ngIf="isFilament == undefined">No information found</p>
        <div style="display: block"
             *ngIf="filamentLevel"
             id="filamentDisplay">
          <canvas baseChart
                  height="190"
                  width="190"
                  [data]="doughnutChartData"
                  [colors]="doughnutChartColor"
                  [labels]="doughnutChartLabels"
                  [options]="barChartOptions"
                  [chartType]="doughnutChartType">
          </canvas>
        </div>
        <a id="providerService" href="#">Material Provider Service <mat-icon>launch</mat-icon></a>
      </div>
    </div>
  </div>

</div>
