<div id="process-main">

  <p id="head">
    <span id="title">
      Product {{process.identifier}}
    </span>
    <span id="status">
      {{process.status}}
    </span>
  </p>

  <div id="process-info" class="process-panel-card"
       fxLayout="column wrap"
       fxLayoutAlign="flex-start flex-start"
       fxLayoutGap="20px">
    <div id="process-image"  class="process-info-card" fxFlex="0 0 calc(180 - 20px)">
      <img src="{{process.image}}"
           alt="Product Image">
    </div>
    <div class="process-info-card" fxFlex="0 0 calc(180 - 20px)">
      <div class="card-name">{{process.productName | uppercase}}</div>
      <div class="card-content">{{process.productAddInfo}}</div>
    </div>
    <div class="process-info-card" fxFlex="0 0 calc(180 - 20px)" *ngFor="let processInfoCar of process.productInfo">
      <div class="card-name">{{processInfoCar.name | uppercase}}</div>
      <div class="card-content">{{processInfoCar.value}}</div>
    </div>
  </div>

  <div id="process-band"
       fxLayout="row"
       fxLayoutAlign="flex-start"
       fxLayoutGap="20px">
    <div class="process-flow-arrow"
         *ngFor="let prodProcess of process.productFlow"
         [ngClass]="currentProcess.indexOf(prodProcess) != -1 ? 'selected' : ''"
         fxFlex="1 1 {{100/process.productFlow.length}}%">
      <mat-icon *ngIf="!prodProcess.icon.includes('/')">{{prodProcess.icon}}</mat-icon>
      <div class="icon" aria-label="My icon" *ngIf="prodProcess.icon.includes('/')" [inlineSVG]="prodProcess.icon"></div>
      <p class="prodprocess-name">{{prodProcess.name}}</p>
      <p class="prodprocess-progress" *ngIf="prodProcess.progress > 0">{{prodProcess.progress}} %</p>
    </div>
  </div>

  <div id="progress-cards"
       fxLayout="row wrap"
       fxLayoutAlign=""
       fxLayoutGap="17px">

    <div id="progress-bar-wrapper" *ngIf="currentProcess.length != 0"
         fxFlex="1 1 100%"
         fxLayout="row wrap"
         fxLayoutAlign="space-between"
         fxLayoutGap="50px">

      <p id="current-process"
         fxFlex="0 1 auto">{{currentProcess[0].name}}</p>
      <progress-bar
        id="progress-bar"
        fxFlex="1 1 auto"
        [progress]="currentProcess[0].progress"
        [color]="'#2b72e6'">
      </progress-bar>
      <button (click)="stopProcess(currentProcess[0])"
              fxFlex="0 1 auto"
              id="progress-toggle-button">

            <mat-icon *ngIf="!currentProcess[0].paused">play_arrow</mat-icon>
            <mat-icon *ngIf="currentProcess[0].paused">pause</mat-icon>
            <span>{{currentProcess[0].paused ? 'Pause' : 'Start'}} {{currentProcess[0].name}}</span>
      </button>
    </div>

    <div id="running-window"></div>

    <div id="time-info">
      <div>
        <p>REMAINING</p>
        <p>{{currentProcess[0].total - currentProcess[0].running | date:'HH:mm' }}</p>
      </div>
      <div>
        <p>RUNNING</p>
        <p>{{currentProcess[0].running | date:'HH:mm' }}</p>
      </div>
      <div>
        <p>TOTAL</p>
        <p>{{currentProcess[0].total | date:'HH:mm' }}</p>
      </div>
    </div>

  </div>

</div>
