#device-panel {
  position: relative;
  float: left;
  padding-left: 32px;
  padding-top: 32px;
}

#device-panel-head {
  position: relative;
}

#device-panel-head span {
  display: inline-block;
  font-family: Rubik-Light, Rubik, 'Arial', serif;
  color: #2E384D;
  font-size: 32px;
  font-weight: 300;
  text-align: left;
}

#device-panel-head button {
  margin-left: 16px;
  padding: 2px 16px;

  border: none;
  transform: translate(0, -20%);
  background-color: #f2dce1;
  color: #D63649;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}

#device-panel-head button mat-icon {
  vertical-align: middle;
  font-size: 18px;
}

#device-panel-head button:hover {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.1);
}

#device-panel-head button:active {
  background-color: #f2bec1;
  box-shadow: 0 2px #666;
}

#device-panel-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

.device-panel-card {
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid rgba(46, 91, 255, 0.08);
  border-radius: 1px;
  margin-top: 16px;
  -webkit-box-shadow: 9px 9px 32px -10px rgba(43,68,120,0.28);
  -moz-box-shadow: 9px 9px 32px -10px rgba(43,68,120,0.28);
  box-shadow: 9px 9px 32px -10px rgba(43,68,120,0.28);
}

.device-panel-title {
  position: absolute;
  top: 20px;
  left: 24px;

  text-transform: uppercase;

  color: #8798AD;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.21px;
  text-align: left;
}

#device-panel-monitoring {
  height: 460px;
}

#device-chart-wrapper {
  display: block;
  position: absolute;
  margin: 65px auto auto 41px;
}
