<div id="device-panel" fxLayout="row wrap" fxLayoutAlign="flex-start">

  <span id="device-panel-head"
        style="background-color: red"
        fxFlex="0 1 calc(100%)">
    <span>{{device.name}}</span>
    <button *ngIf="!issueState" class="issue-detected-button" routerLink="/maintenance/{{getIssueID()}}">
      Issue detected
      <mat-icon>launch</mat-icon>
    </button>
  </span>

  <div id="device-panel-wrapper" fxFlex="0 1 calc(100%)" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="">

    <app-onoffcard
      fxFlex="1 1 calc(29% - 16px)"
      [device]="device"></app-onoffcard>

    <app-device-panel-power
      fxFlex="1 1 calc(35% - 16px)"
      [device]="device">
    </app-device-panel-power>

    <div id="device-panel-idle-time" class="device-panel-card" fxFlex="1 1 calc(29% - 16px)">
      <p class="device-panel-title">Daily Idle Time</p>
      <p id="wrap">
        <span id="time">{{device.down_time}}</span>
        <span class="unit">min</span>
      </p>
      <p id="percentage">{{math.floor(device.down_time / device.running * 100)}} %</p>
    </div>

    <div id="device-panel-info" class="device-panel-card" fxFlex="1 1 calc(57% - 16px)">
      <div *ngFor="let info of device.description" style="position: relative">
        <p class="device-panel-info-title">{{info.title}}</p>
        <p class="device-panel-info-info">{{info.desc}}</p>
      </div>
    </div>

    <div id="device-panel-issue-history" class="device-panel-card" fxFlex="1 1 calc(39% - 16px)">
      <p class="device-panel-title">issue history</p>

      <div class="issue"
           *ngFor="let issue of getIssues()">
        <div class="issue-oval"
             [ngClass]="issue.state ? 'solved' : ''">
          <i class="material-icons" *ngIf="!issue.state">priority_high</i>
          <i class="material-icons" *ngIf="issue.state">done</i>
        </div>
        <p class="issue-status">Issue {{issue.state ? 'resolved' : 'detected'}}</p>
        <p class="issue-date">{{issue.issue_date | date:'d.M.y'}}</p>
      </div>
      <div class="rectangle"></div>
      <input id="issue-button" type="button" value="Go to Issues" routerLink="/maintenance/{{getIssueID()}}">
    </div>

    <div id="device-panel-monitoring" class="device-panel-card" fxFlex="1 1 calc(100% - 16px)">
      <p class="device-panel-title">Device Monitoring and prediction</p>
      <div id="device-chart-wrapper">
        <canvas width="800" height="370"
                id="device-chart"
                baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType">
        </canvas>
      </div>
    </div>

    <div id="device-panel-map" class="device-panel-card" fxFlex="1 1 calc(100% - 16px)">
      <p class="device-panel-title">Map</p>
    </div>

  </div>
</div>
