<div id="device-panel" fxLayout="row wrap" fxLayoutAlign="flex-start">

  <span id="device-panel-head"
        style="background-color: red"
        fxFlex="0 1 calc(100%)">
    <span>{{device.name}}</span>
    <button *ngIf="!issueState" class="issue-detected-button" routerLink="/maintenance/{{getIssueID()}}">
      Issue detected
      <mat-icon>launch</mat-icon>
    </button>
  </span>

  <div id="device-panel-wrapper" fxFlex="1 0 calc(100%)" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="flex-start">

    <app-device-panel-switch
      fxFlex="1 0 calc(29% - 16px)"
      [device]="device"></app-device-panel-switch>

    <app-device-panel-power
      fxFlex="1 0 calc(35% - 16px)"
      [device]="device">
    </app-device-panel-power>

    <app-device-panel-idle-time
      fxFlex="1 0 calc(29% - 16px)"
      [device]="device">
    </app-device-panel-idle-time>


    <app-device-panel-info
      [device]="device"
      fxFlex="1 0 calc(57% - 16px)">
    </app-device-panel-info>


    <app-device-panel-issue-history
      [device]="device"
      fxFlex="1 0 calc(39% - 16px)">
    </app-device-panel-issue-history>

    <app-device-panel-monitoring
      [device]="device"
      fxFlex="1 0 calc(100% - 16px)">

    </app-device-panel-monitoring>

    <app-warehouse-map
      fxFlex="1 0 calc(100% - 16px)">

    </app-warehouse-map>

  </div>
</div>
