<div id="device-panel-on-off-card" class="device-panel-card">
  <p class="device-panel-title">{{cardName}}</p>
  <p id="off">OFF</p>
  <label class="switch-big">
    <input type="checkbox"
           (change)="emitDevicePower($event.target.checked)"
           [attr.checked]="device == null ? property.value : device.power_state"
           [attr.disabled]="device == null ? (!property.writable ? '' : null) : null">
    <span class="slider round"
          [ngStyle]="{backgroundColor: device == null && !property.writable ? 'grey' : null }"></span>
  </label>
  <p id="on">ON</p>
</div>
