<div id="device-panel-on-off-card" class="device-panel-card device-panel-card-selectable"
     [ngClass]="selectedProperty == property ? 'device-panel-card-selected' : ''">
  <p class="device-panel-title">{{cardName}}</p>
  <p id="off">OFF</p>
  <label class="switch-big">
    <input type="checkbox"
           (change)="emitDevicePower($event.target.checked)"
           [checked]="property.value"
           [attr.disabled]="!property.writable ? 'disabled': null">
    <span class="slider round"
          [ngStyle]="{backgroundColor: !property.writable ? 'grey' : null }"></span>
  </label>
  <p id="on">ON</p>

  <mat-icon class="writable-lock"
            *ngIf="!property.writable"
            matTooltip="This property isn't writable"
            matTooltipPosition="above">
    lock
  </mat-icon>
</div>
