<div id="device-panel-on-off-card" class="device-panel-card">
  <p class="device-panel-title">{{cardName}}</p>
  <p id="off">OFF</p>
  <label class="switch-big">
    <input type="checkbox"
           (change)="emitDevicePower($event.target.checked)"
           [checked]="property.value"
           [attr.disabled]="!property.writable ? 'disabled': null">
    <span class="slider round"
          [ngStyle]="{backgroundColor: !property.writable ? 'grey' : null }"></span>
  </label>
  <p id="on">ON</p>
</div>
