#products-behind-plan-main {
  position: relative;
  padding: 32px 61px 100px 32px;
  background-color: #f3f6fc;
  height: 100%;
}

#head {
  position: relative;
  margin-bottom: 37px;
}

#title {
  margin-top: 0;
  font-family: Rubik-Light, Rubik, 'Arial', serif;
  color: #2E384D;
  font-size: 32px;
  font-weight: 300;
  text-align: left;
  line-height: 20px;
}

#product-behind-plan-cards-container {
  margin-bottom: 52px;
  margin-right: -16px;
}

.product-cards {
  position: relative;
  background-color: white;
  height: 160px;
  border-radius: 4px;
  box-shadow: 0 10px 20px 0 rgba(46, 91, 255, 0.15);
}

.product-stat-icon {
  position: absolute;
  left: 24px;
  top: 32px;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  color: #197fe2;
  background-color: #deeafb;
}

.product-stat-icon > mat-icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-stat-value {
  position: absolute;
  left: 90px;
  top: 32px;
  color: #2E384D;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -0.6px;
  line-height: 58px;
  text-align: left;
}

.container-stat-desc {
  position: absolute;
  left: 90px;
  top: 87px;
  color: #8798AD;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.card-title {
  position: relative;
  top: 32px;
  left: 24px;
  margin: 0;
  color: #8798AD;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.21px;
  line-height: 16px;
  text-align: left;
}

#prediction-graph {
  position: absolute;
  bottom: 16px;
  width: 100%;
}

#prediction-graph-wrapper {
  height: 338px;
}

#productListWrapper {
  float: left;
  width: calc(100% - 284px);
}

#productFilter {
  position: relative;
  margin-top: 54px;
  float: right;
  width: 268px;
  height: 584px;
  background-color: white;
}
