<div id="products-behind-plan-main">

  <p id="head">
    <span id="title">
      Products behind plan
    </span>
  </p>

  <div id="product-behind-plan-cards-container"
       gdAlignColumns="start start"
       gdAreas="a0 a1 a2 | a3 a4 a2"
       gdColumns="calc(20% - 16px) calc(20% - 16px) calc(60% - 16px)"
       gdAreas.sm="a0 a1 | a3 a4 | a2 a2"
       gdColumns.sm="calc(50% - 12px) calc(50% - 12px)"
       gdAreas.xs="a0 | a1 | a3 | a4 | a2"
       gdColumns.xs="calc(100%)"
       gdAuto="row"
       gdGap="8px 16px">


    <div gdArea="a0">
      <div class="product-stat product-cards">
        <div class="product-stat-icon">
          <mat-icon>done</mat-icon>
        </div>
        <div class="container-stat-value">
          {{amountPBP}}
        </div>
        <div class="container-stat-desc">
          Products behind total
        </div>
      </div>
    </div>
    <div gdArea="a1">
      <div class="product-stat product-cards">
        <div class="product-stat-icon">
          <mat-icon>done</mat-icon>
        </div>
        <div class="container-stat-value">
          {{amountPBPToday}}
        </div>
        <div class="container-stat-desc">
          Products behind today
        </div>
      </div>
    </div>
    <div gdArea="a3">
      <div class="product-stat product-cards">
        <div class="product-stat-icon">
          <mat-icon>done</mat-icon>
        </div>
        <div class="container-stat-value">
          {{averagePBP | date:'H' }}h {{averagePBP | date:'mm' }}mm
        </div>
        <div class="container-stat-desc">
          Average behind
        </div>
      </div>
    </div>
    <div gdArea="a4">
      <div class="product-stat product-cards">
        <div class="product-stat-icon">
          <mat-icon>done</mat-icon>
        </div>
        <div class="container-stat-value">
          {{maxPBP | date:'H' }}h {{maxPBP | date:'mm' }}mm
        </div>
        <div class="container-stat-desc">
          longest behind
        </div>
      </div>
    </div>

    <div gdArea="a2">
      <div id="prediction-graph-wrapper" class="product-cards">
        <p class="card-title">History and Prediction of Products behind plan</p>
        <app-prediction-graph
          id="prediction-graph"
          [data]="metadata.prodBehindPlanData"
          [prediction]="metadata.prodBehindPlanPrediction"
          [height]="260">
        </app-prediction-graph>
      </div>
    </div>
  </div>

  <div id="productListWrapper">
    <app-product-list
      [products]="productsBehindPlan">
    </app-product-list>
  </div>
  <div id="productFilter">

  </div>

</div>
