<aside id="device-list">

  <div id="device-list-head">
    <span class="search">
      <mat-icon>search</mat-icon>
      <input type="text" name="device-list-search" placeholder="Search">
    </span>
    <mat-icon>sort</mat-icon>
  </div>

  <div id="device-list-qstate-change">
    <p>ALL</p>
    <label class="switch-small">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>

  <div id="device-list-wrapper">
    <div class="deviceCard device-card-base">
      <div class="device-card-oval">
        <div class="device-card-indicator"></div>
        <i class="material-icons device-card-icon">devices</i>
      </div>
      <p class="device-card-name">Device name</p>
      <p class="device-card-consumption">3.4 kW</p>
      <label class="switch-small">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>

    <div class="deviceCard device-card-base">
      <div class="device-card-oval">
        <div class="device-card-indicator invisible"></div>
        <i class="material-icons device-card-icon">devices</i>
      </div>
      <p class="device-card-name">Device name</p>
      <p class="device-card-consumption">3.4 kW</p>
      <label class="switch-small">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</aside>
<app-devicepanel></app-devicepanel>
