<div id="device-panel-monitoring"
     class="device-panel-card"
     [ngStyle]="{'height': height + 'px'}">

  <p class="device-panel-title">{{name}}</p>
  <div id="device-chart-wrapper">
    <div id="accuracy-arrows">
      <mat-icon id="up" (click)="showLessData()">keyboard_arrow_up</mat-icon>
      <span id="monitoring-data-select">
        {{selectedVisibility}}:
      </span>
      <span *ngIf="useDatesAsTimestamps">
        {{dataAmount}}
      </span>
      <mat-icon id="down" (click)="showMoreData()">keyboard_arrow_down</mat-icon>

      <mat-icon *ngIf="!getCurrentData" id="play" (click)="getRealtimeData()">play_arrow</mat-icon>
      <mat-icon *ngIf="getCurrentData" id="pause" (click)="stopDataFlow()">pause</mat-icon>
    </div>
    <app-data-graph
      id="prediction-graph"
      [ngStyle]="{'height': height - 100 + 'px'}"
      [topic]="property.topic"
      [data]="visibleData"
      [height]="height - 100"
      [useDatesAsTimestamps]="useDatesAsTimestamps"
      [selectedVisibility]="selectedVisibility"
      (dataLength)="dataAmount = $event"
      (updateData)="updateLocalData($event)">
    </app-data-graph>
  </div>
</div>
